/* メイン画面 */


body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.2em;
  color: #2c3e50;
  background-color: #f7f7f7;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content{
  flex-grow: 1;
}
h1 {
  color: #34495e;
  font-size: 2em;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;/* 中央揃え */
}

/* "〇〇さん、ようこそ！"の部分。 */
.top-spacing {
  margin-top: 0px; /* これを調整して、さらに上に移動させる */
  padding-top: 0px; /* これも調整して、さらに上に移動させる */
}

p {
  font-size: 1.1em;
  color: #7f8c8d;
}

ul {
  list-style-type: none; /* デフォルトのリストスタイルを削除 */
  padding: 0;
  margin: 0 auto; /* 左右の余白を自動にすることで中央に配置 */
  width: fit-content; /* リストの幅を内容に合わせる */
}

li {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #ecf0f1; /* 背景色を薄いグレーに */
  font-weight: bold; /* 太字で強調 */
  text-align: center; /* テキストを中央寄せ */
}

a {
  color: #2c3e50;
  text-decoration: none;
}

a:hover {
  color: #2980b9;
}

.language {
  display: block;
  font-size: 0.9em;
  color: #7f8c8d;
  margin-top: 5px;
  font-weight: normal;
}



/* フッター */
footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 0.9em;
}
