.word-detail table th:first-child, /* ヘッダーの番号列 */
  .word-detail table td:first-child{/* データの番号列 */ 
  text-align: center;
  width:40px;
}


.search-bar {
  display: flex;
  align-items: center;
}

.add-word-link {
  margin-left: 30px;
  padding: 10px;
  background-color: #3ca463;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.add-word-link:hover {
  color: white;
  background-color: #14997a;
}

.show-detail table {
  width: 100%; /* テーブル全体の幅を80%に設定 */
  margin: 0 auto; /* テーブルを中央に配置 */
  border-collapse: collapse; /* テーブルのセル間のスペースをなくす */
}

.show-detail th, .show-detail td {
  padding: 12px 40px; /* セル内の余白を設定 */
  border: 1px solid #dddddd; /* セルの枠線を設定 */
  text-align: left; /* テキストを左寄せに設定 */
}

.show-detail th {
  background-color: #f2f2f2; /* ヘッダーセルの背景色 */
  font-weight: bold; /* ヘッダーセルの文字を太字に */
}


.back-link {
  margin-top: 20px; /* 上にスペースを確保 */
  display: flex;
  justify-content: center; /* ボタンを中央に配置 */
}

.back-link a {
  display: inline-block;
  padding: 10px 50px;
  margin-bottom: 10px;
  background-color: #4682B4; /* 背景色を青系に変更 */
  color: white; /* 文字色を白に */
  text-decoration: none; /* 下線を消す */
  border-radius: 5px; /* 角を丸くする */
  transition: background-color 0.3s ease; /* ホバー時のアニメーション */
}

.back-link a:hover {
  background-color: #1E90FF; /* ホバー時の背景色 */
}
