<div class="report-index-container">
  <h2>日報一覧</h2>
  <% if @reports.any? %>  <!-- @reports が存在する場合のみ表示 -->
    <% if current_user.role == 1 %>
      <%= render partial: 'mentor', locals: { reports: @reports } %>
    <% else %>
      <%= render partial: 'learner', locals: { reports: @reports } %>
    <% end %>

    <div class="pagination">
      <!-- ページネーション -->
      <%= paginate @reports %>
    </div>
  <% else %> <!-- 日報が存在しない場合のメッセージ -->
    <p>日報がまだありません。</p>
  <% end %>

  <div class="back-link">
    <%= link_to '戻る', root_path %>
  </div>
</div>
